@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container() {
  width: auto;
  margin: 0 auto;

  // @media #{$tablet-width} {
  //   min-width: 768px;
  // }

  @media #{$desktop-width} {
    max-width: 1200px;
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button() {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  font: bold 18px/26px $font-stack;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border-style: none;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
  background-color: #5496bd;
  color: #94b9d2;
  }

  &--disabled {
    pointer-events: none;
    cursor: default;
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

@mixin features-icon($image) {
  content: "";
  position: absolute;
  top: 25px;
  left: 40px;
  width: 40px;
  height: 40px;
  background-image: url($image);
  background-size: 100% 100%;
  background-color: #ffffff;
}
