$bg-white: #ffffff;
$bg-grey: #f3f3f3;
$bg-lightblu: #81b3d2;
$font-stack: 'PT Sans', Arial, sans-serif;
$primary-color: #333333;
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";
$mobile-width-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
