$bg-white: #ffffff;
$bg-grey: #f3f3f3;
$bg-lightblu: #81b3d2;
$font-stack: 'PT Sans', Arial, sans-serif;
$primary-color: #333333;
// $link-color-hover: rgba($body-color, 1);
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1280px)";
$mobile-width-only: "(max-width: 767px)";
