.extra-features {
  @include container;
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra-features__item {
  position: relative;
  @media #{$tablet-width} {
    display: table-cell;
  }
}

.extra-features__icon {
  position: absolute;
  left: 0;
}