.freatures {
  margin-bottom: 55px;
}

.features__list {
  @include reset-list;
}

.features__item {
  display: block;
  background-color: #eeeeee;

  &--blu {
    background-color: $bg-lightblu;
    border: none;
  }

  &--extra-list {
    text-align: left;
    background-color: #ffffff;
  }
}

.features__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 30px;

  &--border {
    border-bottom: 1px solid #d6d6d6;
  }
}

.features__item--extra-list .features__text {
  position: relative;
  width: 230px;
  padding-top: 35px;
  padding-left: 70px;
}

.features__item h2 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.features__item--blu h2 {
  color: #ffffff;
}

.features__number {
  display: block;
  margin: 0;
  margin-bottom: 20px;

  &::before {
    content: '— №';
  }

  &::after {
    content: ' —';
  }
}

.features__item--blu {
  color: #ffffff;
}

.features__item p {
  display: block;
  margin: 0;
  padding-bottom: 40px;
}

.features__item--blu p {
  color: #ffffff;
}

.features__photo {
  display: block;
  line-height: 0;
  background-color: $bg-lightblu;
}

.features-icon--house::before {
  @include features-icon("../img/icon-house.svg")
}

.features-icon--food::before {
  @include features-icon("../img/icon-burger.svg")
}

.features-icon--gift::before {
  @include features-icon("../img/icon-gift.svg")
}


@media #{$tablet-width} {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .features__item {
    box-sizing: border-box;
    min-height: 256px;
    padding-bottom: 0;
    width: 256px;

    &--blu {
      display: flex;
      flex-basis: 100%;
    }

    &--extra-list {
      min-height: 330px;
      text-align: center;
    }
  }

  .features__item--extra-list .features__text {
    width: 166px;
    padding-left: 0;
    padding-top: 160px;
  }

  .features__item--blu .features__text {
    padding-left: 45px;
    padding-right: 45px;
  }

  .features__text {
    width: 166px;
    margin: 0 auto;
    padding-top: 45px;

    &--border {
      border: none;
    }
  }

  .features__item p {
    padding-bottom: 0;
  }

  .features__photo {
    box-sizing: border-box;
    flex-basis: 67%;
    flex-grow: 1;
    background-image: url('../img/photo-city@1x.jpg');
    background-size: cover;

    &--reverse-order {
      order: -1;
    }
  }

  .features-icon--house::before,
  .features-icon--food::before,
  .features-icon--gift::before {
    top: 60px;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-left: -36px;
  }
}

@media #{$desktop-width} {
  .features__item {
    flex-basis: 400px;

    &--blu {
      display: flex;
      flex-basis: 100%;
    }
  }

  .features__text {
    width: 260px;
    margin: 0 auto;
  }

  .features__item--blu .features__text {
    padding-left: 70px;
    padding-right: 70px;
  }

  .features__item--extra-list .features__text {
    width: 260px;
  }
}

