.features {
  @include clearfix;
}

.page-headline {
  position: relative;
  padding-bottom: 37px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 37px;
    background-color: $bg-lightblu;
    background-image: url('../img/features-triangle.svg');
    background-size: auto 37px;
    background-position: center;
  }

  @media #{$tablet-width} {
    &::after {
      display: none;
    }
  }
}
.features__list {
  @include reset-list;
}

.features__list--extra-list {
  background-color: rebeccapurple;
}

.features__list-item {
  display: block;
  background-color: $bg-white;
  outline:  2px solid rebeccapurple;

  &--blu-bg {
    background-color: $bg-lightblu;
  }

  @media #{$tablet-width} {
    float: left;
    width: 33%;
    height: 256px;
  }

  @media #{$desktop-width} {
    width: 400px;
  }
}

.features__photo img {
  display: block;
  width: 320px;
  height: 260px;

  @media #{$tablet-width} {
    float: left;
    width: 64%;
    height: 256px;
  }

  @media #{$desktop-width} {
    width: 800px;
  }
}

// .features__name {
//   margin: 0;
//   margin-bottom: 15px;
//   padding-top: 45px;
//   font-size: 18px;
//   line-height: 26px;
//   color: #000000;
// }

// .features__desc {
//   font-size: 14px;
// }

// .features__number {
//   display: block;
// }

