.form-review {
  display: flex;
  flex-direction: column;
}

.form-review__fieldset {
  box-sizing: border-box;
  position: relative;
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  border: none;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -18px;
    left: 0;
    right: 0;
    border-top: 1px solid #e5e5e5;
  }
}

.form-review__legend {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-review__label-text {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &--contacts {
    margin-bottom: 45px;
  }
}

.form-review__input-error {
  position: absolute;
  left: 20px;
  bottom: -31px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
  color: #ff5c5c;
}

.form-review__label-text input::placeholder {color:#000000;}

.form-review__label-text input[type="text"],
.form-review__label-text input[type="email"],
.form-review__label-text input[type="tel"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 16px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  border: none;
  background-color: #f2f2f2;
}

.form-review__contact-input {
  position: relative;
  width: 100%;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }

  &--email-address::after {
    background-image: url('../img/icon-mail.svg');
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: 21px 23px;
  }

  &--phone-number::after {
    background-image: url('../img/icon-phone.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 21px 23px;
  }
}

.form-review__label-text input[type="email"],
.form-review__label-text input[type="tel"] {
  padding-right: 78px;
}

.form-review__label-text input[type="text"] {
  flex-basis: 190px;
  flex-grow: 1;
  margin-left: 20px;
}

.form-review__checkbox-list,
.form-review__radiobox-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.form-review__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-review__checkbox-elem,
.form-review__radiobox-elem {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 13px;
  padding-top: 15px;
  padding-left: 79px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}

.form-review__checkbox-elem input[type="checkbox"],
.form-review__radiobox-elem input[type="radio"] {
  display: none;
}

.check-indicator {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
  }

  &--checkbox::before {
    border-radius: 5px;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.form-review__radiobox-elem input[type="radio"]:checked +
.check-indicator--radio::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border-radius: 50%;
}

.form-review__checkbox-elem input[type="checkbox"]:checked +
.check-indicator--checkbox::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 16px;
  background-image: url('../img/icon-tick.svg');
  background-repeat: no-repeat;
}

.form-review__textarea {
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  min-height: 160px;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;

  &::placeholder {
    color:#000000;
  }
}

.form-review__info-text {
  display: none;
}

.form-review__btn {
  width: auto;
  margin: 0 20px;
  margin-bottom: 60px;
}

@media #{$tablet-width} {
  .form-review {
    margin-bottom: 65px;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-review__fieldset {
    padding: 0;

    &--col-1-2 {
      flex-basis: 50%;

      &::before {
        border: none;
      }
    }

    &--first {
      order: -1;
    }
  }

  .form-review__fieldset {
    z-index: 2;

    &::before {
      z-index: 1;
      top: 12px;
    }
  }


  .form-review__label-text {
    &--contacts {
      margin-bottom: 20px;
    }
  }

  .form-review__legend {
    position: relative;
    z-index: 2;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #ffffff;
  }

 .form-review__fieldset--col-1-2 .form-review__legend {
  padding: 0;
  text-align: left;
 }

 .form-review__info-text {
    display: inherit;
  }

  .form-review__btn {
    flex-basis: 50%;
    margin: 0;
    margin-right: auto;
  }

  .form-review__checkbox-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-review__checkbox-elem {
    flex-basis: 50%;
  }

  .form-review__input-error {
    right: 0;
    top: -5px;
    text-align: right;
  }

}

@media #{$desktop-width} {
  .form-review__checkbox-elem {
    flex-basis: 25%;
  }

  .form-review__fieldset {
    margin-bottom: 60px;
  }

  .form-review__legend {
    box-sizing: border-box;
    width: 400px;
    margin-bottom: 60px;
  }

  .form-review__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-review__contacts-elem {
    box-sizing: border-box;
    flex-basis: 400px;
    flex-grow: 1;
  }

  .form-review__contacts-elem:nth-child(odd) {
    margin-right: 80px;
  }

  .form-review__label-text input[type="tel"],
  .form-review__label-text input[type="email"] {
    flex-basis: 220px;
    flex-grow: 1;
  }
}
