.main-footer {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 35px
}

.main-footer__social {
  margin: 0;
  margin-bottom: 35px;
}

.main-footer__hashtag {
  display: flex;
  margin-bottom: 35px;
}

.main-footer__hashtag a {
  font: bold 21px/26px $font-stack;
  text-decoration: none;
  color: #000000;
}

.main-footer__design {
  display: flex;
  margin-bottom: 35px;
}

.main-footer__htmlacademy {
  display: block;
  width: 28px;
  height: 35px;
  font-size: 0;
  background-image: url("../img/htmlacademy.svg");
  background-size: 28px 35px;
  background-repeat: no-repeat;
}


@media #{$tablet-width} {
  .main-footer {
    flex-flow: row;
    align-items: center;
    padding: 35px 60px;
  }
  .main-footer__design {
    flex-basis: 33.33%;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .main-footer__social {
    flex-basis: 33%;
    margin-bottom: 0;
  }

  .main-footer__hashtag {
    flex-basis: 33%;
    margin-bottom: 0;
  }
}

@media #{$desktop-width} {
  .main-footer {
    flex-flow: row;
    align-items: center;
    padding: 35px 130px;
  }
}

