.main-nav {
}

.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list-item {
  @media #{$tablet-width} {
    display: inline-block;
    padding: 50px;
  }
}

.main-nav__main-logo { 
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 83px;
  margin-left: -50px;
}