.page-headline {
  position: relative;
  padding: 40px 30px;
  padding-bottom: 37px;

  &--main-page::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 37px;
    background-color: $bg-lightblu;
    background-image: url('../img/features-triangle.svg');
    background-size: auto 37px;
    background-position: center;
  }
}

.page-headline__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
}

.page-headline__subtitle {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}


@media #{$tablet-width} {
  .page-headline--main-page {
    padding: 50px 140px;
    padding-bottom: 55px;
    &::after {
      display: none;
    }
  }

  .page-headline__subtitle {
    width: 440px;
    margin-bottom: 75px;
  }

}

@media #{$desktop-width} {
  .page-headline__title {
    font-size: 21px;
  }
}
